In [127]:
import pandas as pd
from ressources.not_found_tc import NotFoundTeamcenter

In [128]:
# Import reports
fasteners = pd.read_excel('exportBoulonnerie.xlsx')

In [129]:
# Filter rows 
fasteners = fasteners[~(fasteners.STOCKINGTYPE=='O')]

In [130]:
#strip COLUMNS in df fasteners:
fasteners['ITEMNO'] = fasteners.ITEMNO.str.strip()
# fasteners['TYPECONVERSION'] = fasteners.TYPECONVERSION.str.strip()
fasteners['ITEMCONVERTI'] = fasteners.ITEMCONVERTI.str.strip()

In [131]:
fasteners = fasteners[[
    'ITEMNO',
#     'DESC1',
#     'DESC2',
#     'SEARCHTEXT',
#     'STOCKINGTYPE',
    'TYPECONVERSION',
    'ITEMCONVERTI',
#     'DESC1_1',
#     'DESC2_1',
#     'SEARCHTEXT_1',
#     'STOCKINGTYPE_1'
]]

In [132]:
fasteners['ITEMNO'] = fasteners.ITEMNO.astype('str')

In [133]:
# fasteners = fasteners.set_index(['ITEMNO','TYPECONVERSION'])
# fasteners = fasteners.set_index(['ITEMNO'])

In [134]:
fasteners

         ITEMNO  TYPECONVERSION ITEMCONVERTI
0      24101227               5     24101227
1      24101227               6     24101227
2      24101008               1     24101008
3      24101008               2       107233
4      24101008               3       117616
...         ...             ...          ...
16759  24104797               2     24109007
16760  24104797               3     24104797
16761  24104797               4     24104797
16762  24104797               5     24104797
16763  24104797               6     24104797

[16110 rows x 3 columns]

In [135]:
with open('switcher.py','w') as sw:
    for itemno, group in fasteners.groupby('ITEMNO'):
        if itemno not in NotFoundTeamcenter: 
            sw.writelines("""'{}':{},\n""".format(itemno , dict(zip(group.TYPECONVERSION, group.ITEMCONVERTI))))